<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_save_before">
        <observer
            name="YireoTraining_ObservableEventsInCheckout::sales_quote_save_before"
            instance="YireoTraining\ObservableEventsInCheckout\Observer\GenericObserver"
        />
    </event>
    <event name="sales_quote_save_after">
        <observer
            name="YireoTraining_ObservableEventsInCheckout::sales_quote_save_after"
            instance="YireoTraining\ObservableEventsInCheckout\Observer\GenericObserver"
        />
    </event>
    <event name="sales_order_place_before">
        <observer
            name="YireoTraining_ObservableEventsInCheckout::sales_order_place_before"
            instance="YireoTraining\ObservableEventsInCheckout\Observer\GenericObserver"
        />
    </event>
    <event name="sales_order_place_after">
        <observer
            name="YireoTraining_ObservableEventsInCheckout::sales_order_place_after"
            instance="YireoTraining\ObservableEventsInCheckout\Observer\GenericObserver"
        />
    </event>
</config>
